<div class="row">
  <div class="large-12 columns">
    <%= erb :new_task_form %>
  </div>
</div>
<div class="row">
  <div class="row">
    <div class="large-12 columns">
      <h1>This... THIS is what Tasks me</h1>
    </div>
  </div>
  <div class="row collapse" id="current_tasks">
  <% @tasks.each do | task |%>
    <% if task.finished.nil? || task.finished == false %>
      <%= erb :single_task, :locals => { :task => task } %>
    <% end %>
  <% end %>
  </div>
</div>
<div class="row">
  <div class="row">
    <div class="large-12 columns">
    <h1>This tasks me no longer</h1>
    </div>
  </div>
  <div class="row collapse" id="completed_tasks">
  <% @tasks.each do | task |%>
    <% if task.finished == true %>
      <%= erb :single_task, :locals => { :task => task } %>   
    <% end %>
  <% end %>
  </div>
</div>