<div class="row">
  <div class="large-12 columns">
    <%= erb :new_task_form %>
  </div>
</div>
<div class="row">
  <div class="row">
    <div class="large-12 columns">
      <h1>This... THIS is what Tasks me <a href="#" class="show_open"><span class="plus">+</span></a></h1>
    </div>
  </div>
  <div class="row collapse" id="open_tasks">
  <% if @tasks.all.count( :finished => false, :archived => false ) == 0 %>

    <div class="large-12 columns">
      <h4>Nothing tasks ye.</h4>
    </div>

  <% else %>
    <% @tasks.each do | task |%>
       <% if task.finished == false %>
         <%= erb :single_task, :locals => { :task => task } %>
       <% end %>
      <% end %>
  <% end %>

  </div>
</div>
<div class="row">
  <div class="row">
    <div class="large-12 columns">
    <h1>This tasks me no longer <a href="#" class="show_finished"><span class="plus">+</span></a></h1>
    </div>
  </div>
  <div class="row collapse" id="finished_tasks">
  <% if @tasks.all.count( :finished => true, :archived => false ) == 0 %>
    <div class="large-12 columns">
      <h4>All finished tasks have been archived.</h4>
    </div>
  <% else %>
     <% @tasks.each do | task |%>
      <% if task.finished == true and task.archived == false %>

        <%= erb :single_task, :locals => { :task => task } %>

      <% end %>
    <% end %>
  <% end %>
  </div>
</div>