<div class="new_task_drawer">
  <form id="new_task" data-abide method="post">
    <fieldset>
      <input type="text" class="pure-input-1" name="title" placeholder="Task title" required />
      <small class="error">A title is required.</small>

      <textarea name="description" class="pure-input-1" placeholder="Describe what tasks you..." required ></textarea>
      <small class="error">A description is required..</small>
    </fieldset>
    <button class="large-12 columns add_task" action="/" type="submit" />
      This tasks me...
    </button>
  </form>
</div>
<button class="drawer_button expand">
  Tell me, what tasks you?
</button>
