/* Foundation CSS Tweaks */

h1,
h1,
h2,
h2,
h3,
h3,
h4,
h4 {
    /* Set you're content font stack here: */
    font-family: 'IM Fell Great Primer SC', serif;
}

[class*="column"] + [class*="column"]:last-child {
    float: left;
}

/* Main Application CSS */
body {
	background: url('../img/old_wall.png');
}

div#wrapper {
	width: 980px;
	margin: 0 auto;
}

	div#content {
		color: #1D1D1D;

	}

	header#header {
		background: url('../img/khan.jpg');
		background-size: cover;
		background-position: 0 -175px;
		box-shadow: 0 0 .5em #2B2B2B;
		height: 200px;
	}
	header h1 {
		color: #FFFFFF;
		position: relative;
		top: 120px;
		font-size: 300%;
		text-transform: uppercase;
		letter-spacing: -5px;
	}

	h1.task-title {
		font-size: 2.9em;
		text-transform: uppercase;
		letter-spacing: ;
	}

	div.single-task {
		background: #fff;
		border: 1px solid #ccc; 
		padding: 10px;
		margin: 10px;
		float: left;
		box-shadow: inset 0 0 .5em #ccc;
	}
		div.single-task h2 {
			margin-top: 0px;
		}

		button.toggle-button {
			display: inline;
		}
		
		div.new_task_drawer {
			
		}

		form#new_task {
			
		}
			button.add_task {
				font-size: 32px;	
				font-family: 'IM Fell Great Primer SC', serif;
				padding: 10px;
				margin-top: 0;
			}

/* Task Options */
i.settings_icon {
	height: 32px;
	width: 32px;
	background: url('../img/settings.png');
	background-size: cover;
	display: block;
	float: right;
	cursor: pointer;
	margin-bottom: -1px;
	padding: 3px;
}

i.activated {
	color: #DADADA;
	background: #1F1F1F url('../img/settings_dark.png');
	background-size: cover;
}

div.task_options {
	background-color: #1F1F1F;
	color: #DADADA;
	width: 100%;
	padding: 10px;
	float: left;

}

div.task_options h5 {
	color: #DADADA;
}

div.task_time {
	float: left;
}