body {
	background: url('../img/old_wall.png');
}

.pure-g [class *= "pure-u"] h1,
.pure-g-r [class *= "pure-u"] h1,
.pure-g [class *= "pure-u"] h2,
.pure-g-r [class *= "pure-u"] h2 {
    /* Set you're content font stack here: */
    font-family: 'IM Fell Great Primer SC', serif;
}

div#wrapper {
	width: 980px;
	margin: 0 auto;
}

	div#content {
		color: #1D1D1D;

	}

	h1.task-title {
		font-size: 2.9em;
		text-transform: uppercase;
		letter-spacing: ;
	}

	div.single-task {
		background: #fff;
		border: 1px solid #ccc; 
		padding: 10px;
		margin: 10px;
	}
		div.single-task h2 {
			margin-top: 0px;
		}